*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.line{
    width: 400px;
    height: 4px;
    background: #001f3fd4;
    margin: 10px auto;
    border-radius: 5px;
}
.lines{
    width: 70px;
    height: 2px;
    background: #001f3fd4;
    margin: 10px auto;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: #333;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: left;
    padding: 0px 40px;
}

main {
    padding: 2rem;
}

.header-image {
    position: relative;
    text-align: center;
    color: white;
}

.header-image h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}


#florence {
    background-image: url('images/florence.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

#capetown {
    background-image: url('images/capetown.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

#reykjavic {
    background-image: url('images/Reykjavik.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

#sydney {
    background-image: url('images/sydney.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

.travel {
    background-image: url('images/travel.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.container{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.girlies img {
    border-radius: 50%;
    width: 100px ;
    height: 100px ,
  }

.girlies{
    background: #6b422669;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #cc5500bc;
}
footer p{
    text-align: center;
}
