*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     
    margin: 0; 
    height: 100vh; 
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.contact .content{
    max-width: 800px;
    text-align: center;
    
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: black;
    font-weight: bolder;
}
.contact .content p{
    font-weight: 300;
    color: ivory;
    font-size: 18px;
    background: #cc55009d;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.line{
    width: 150px;
    height: 4px;
    background: #001f3fd4;
    margin: 10px auto;
    border-radius: 5px;
}
.contactForm{
    width: 40%;
    padding: 40px;
    
}
.contactForm h2{
    font-size: 30px;
    color: #CC5500;
    font-weight: bold;
}
h3{
    color: black;
    font-weight: bolder;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.travel {
    background-image: url('images/travel.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.inputBox{
    color: ivory;
    border: black;
}
span{
    color: black;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #cc5500bc;
}
footer p{
    text-align: center;
}


