*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.line{
    width: 400px;
    height: 4px;
    background: #001f3fd4;
    margin: 10px auto;
    border-radius: 5px;
}
.lines{
    width: 70px;
    height: 2px;
    background: #001f3fd4;
    margin: 10px auto;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: #333;
}
h2{
    text-align: center;
}
p{
    text-align: left;
    padding: 0px 40px;
}
.towns{
    text-align: left;
    padding: 0px 40px;
}

main {
    padding: 2rem;
}

.header-image {
    position: relative;
    text-align: center;
    color: white;
}

.header-image h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}


#seychelles {
    background-image: url('images/seychelles.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

#dominican {
    background-image: url('images/dominicanrepublic.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

#borabora {
    background-image: url('images/borabora.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

#santorini {
    background-image: url('images/santorini.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

.travel {
    background-image: url('images/travel.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}
.girlies img {
    border-radius: 50%;
    width: 128px ;
    height: 128px ,
  }

.girlies{
    background: #6b422628;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #cc5500bc;
}
footer p{
    text-align: center;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: ivory;
    background: #6b422669;
    
}

.navbar a{
    text-decoration: none;
    color: ivory;
}

.navbar a:hover{
    color: #CC5500;

}

.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
